<!--  ngFor -->
<div *ngFor = " let item of[1,3,5]">
      Number is {{item}}
</div>

<hr>

<div *ngFor = " let p of products; let i=index">
  {{i}}                                               <!--  Index position -->
  Mobile is {{p.name}}
</div>

<hr>

<!--  ngStyle -->
<div *ngFor = " let q of pro">
  Mobile is {{q.name}} and <div [ngStyle] = "{color: q.status === 'Available' ? 'Green':'Red'}">{{q.status}}</div> 
  <br>
</div>

<hr>

<!--  ngIf -->
<span>Search : </span>
<input type="text" [(ngModel)]= "svalue">
<p *ngIf = "svalue != '' ">Its "{{svalue}}"</p>

<hr>

<!--  ngClass  -->
<div [ngClass]="{changeBackground: svalue != ''}">
  <span>Search : </span>
  <input type="text" [(ngModel)]= "svalue">
  <p>Its "{{svalue}}"</p>  
</div>
